@media screen and (width < 768px) {
    body {
        /* background-color: green; */
        /* text-align: left; */
    }
    
    .logo-title-container {
        margin-top: 75px;
    }

    .pg-title {
        font-size: 2rem;
    }

    .main-container {
        flex-direction: column;
        font-size: 18px;
    }

    .main-container .main-container-left {
        width: 100%;
    }

    .text-list .text-list-item {
        font-size: 16px;
    }

    .main-container .main-container-right {
        width: 100%;
        margin-top: 20px;
    }

    .form-sec .form-img img {
        width: 75px;
        height: 67px;
    }

    .form-container {
        align-items: center;
    }

    .form-container input {
        margin: 3px 0 7px 0;
        height: 1.563rem;
        width: 14.375rem;
    }

    .form-container .form-btn button {
        width: 170px;
        height: 50px;
    }

    .main-container-bottom {
        font: 18px;
        display: flex;
        justify-content: center;
        text-align: left;
        width: 25%;
        /* margin: 20px 10px; */
    }

    .main-container-bottom .text-bt {
        align-self: center;
    }

    .teste img {
        width: 250px;
        height: 200px;
    }

    .footer {
        font-size: 12px;
    }

}

@media screen and (width >=768px) and (width < 992px) {
    /* body {
        background-color: black;
    } */

    .logo-title-container {
        margin-top: 75px;
    }

    .main-container {
        font-size: 18px;
    }

    .text-list .text-list-item {
        font-size: 16px;
    }

    
    .main-container .main-container-left {
        width: 60%;
    }

    .main-container .main-container-right {
        width: 40%;
    }

    .main-container-bottom .text-bt {
        font-size: 18px;
    }


    .form-sec .form-img img {
        width: 100px;
        height: 100px;
    }

    .form-container label {
        font-size: 15px;
    }

    .form-container input {
        margin: 3px 0 7px 0;
        height: 1.563rem;
        width: 14.375rem;
    }

    .form-container .form-btn button {
        width: 170px;
        height: 50px;
    }

    .teste img {
        width: 250px;
        height: 200px;
    }
}